.experiencePage {
  --max-width: 800px;

  max-width: var(--max-width);
  margin: auto;

  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  padding: 0 16px;
  justify-content: center;

  & > h2 {
    font-size: 4rem;
  }
}

.experienceTimeline {
  --timeline-gap: 5rem;

  display: flex;
  flex-flow: column;
  gap: var(--timeline-gap);
}

@media only screen and (max-width: 960px) {
  .experiencePage {
    & > h2 {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .experiencePage > h2 {
    font-size: 2.5rem;
  }
}
