@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: theme("colors.zinc.800");
  --font-colour: theme("colors.white");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0 auto;
  background-color: var(--background-colour);
  color: var(--font-colour);
  width: theme("width.screen");
  height: theme("height.screen");
}

@media (prefers-color-scheme: light) {
  :root {
    --background-colour: theme("colors.white");
    --font-colour:  theme("colors.zinc.800");
  }
}